:root {
  --color-primary: #f72210;
  --color-secondary: #ffe400;
  --color-tertiary: #3581f4;
  --color-dark-grey: #333;
  --color-medium-grey: rgba(3, 3, 3, 0.4);
  --color-light-grey1: #807f84;
  --color-light-grey2: #d9d9d9;
  --color-light-grey3: #e2e2e2;
  --color-light-grey4: #ddd;
  --color-light-grey5: #f4f5f7;
}
