@import "general.css";
@import "layout.css";

body {
  font-family: "Roboto", sans-serif;
}

.navbar-brand img {
  width: 132px;
}

.subscription-btn {
  font-size: 12px;
  line-height: 1.3;
}

.user-icon {
  opacity: 0.75;
}

.top-navbar {
  position: relative;
  top: -10px;
  background: #fff;
  width: 90%;
  border-radius: 0 20px 0 0;
}

.search {
  border: none;
  background-color: #fff;
  color: #000;
}

.search-icon {
  border: none;
  background: none;
  right: -10px;
}

.bottom-navbar .nav-link {
  letter-spacing: -0.5px;
}

/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */
/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .subscription-btn {
    font-size: 15px;
  }
}

/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar-brand img {
    width: 396px;
  }
}

/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
