@import "general.css";

:root {
  --color-primary: #f72210;
  --color-secondary: #ffe400;
  --color-tertiary: #3581f4;
  --color-dark-grey: #333;
  --color-medium-grey: rgba(3, 3, 3, 0.4);
  --color-light-grey1: #807f84;
  --color-light-grey2: #d9d9d9;
  --color-light-grey3: #e2e2e2;
  --color-light-grey4: #ddd;
  --color-light-grey5: #f4f5f7;
}

body {
  background-color: #f4f5f6;
}

.body-container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  background-color: white;
}

.navbar {
  background-color: var(--color-primary);
}

.navbar * {
  color: white;
}

.navbar-brand img {
  display: block;
  width: 160px;
}

main,
.main-footer {
  font-size: 30px;
  font-weight: bold;
}

/* INSIDE TOP CONTENTS WRAPPER */
#top-story,
#featured-stories,
#the-debate,
#opinion,
#articles-1,
#more-stories,
#my-turn,
#articles-2,
#in-the-magazine,
#editors-pick,
#articles-3,
#promotion,
.main-footer {
  padding: 40px;
  /* border: 3px solid; */
  color: white;
  min-height: 10em;
}

#top-story {
  background-color: #e02020;
}
#featured-stories {
  background-color: #f7b500;
  min-height: 20em;
}
#the-debate {
  background-color: #3b76d8;
}
#opinion {
  background-color: #32c5ff;
  min-height: 15em;
}
#articles-1 {
  background-color: #6dd400;
  min-height: 20em;
}
#more-stories {
  background-color: #b620e0;
  min-height: 20em;
}
#my-turn {
  background-color: #ff00b9;
}
#articles-2 {
  background-color: #ff8bdf;
  min-height: 20em;
}

/* OUTSIDE TOP CONTENTS WRAPPER */
#in-the-magazine {
  background-color: #fa9000;
  min-height: 10em;
}
#editors-pick {
  background-color: #fa5600;
  min-height: 17em;
}
#articles-3 {
  background-color: #2ed5c9;
  min-height: 25em;
}
#promotion {
  background-color: black;
}
.main-footer {
  background-color: #807f84;
  min-height: 5em;
}

/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium (md) devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* #top-contents-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  } */
}

/* Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra (xl) large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
